.sidenav{
    
    background-color: #603474;
    width: 200px;
}

.sidenav a{
    color:rgb(255, 255, 255);
}
.sidenav i{
    padding-right: 10px;
}

.content{
    padding: 16px;
    background-color:#FFF;
}
.teste{
    height: 80%;
}