.home .title{
    font-size: 3rem;
     font-weight: 300;
    line-height: 1.2;
}

.home .subtitle{
    font-size: 1.1rem;
}

.logo{
    max-width: 55px;

}
.concert{
    max-height: 55px;
}
.link {
    text-decoration: none;
    color: #111111;
}

.box {
    width: 700px;
    height: 700px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-div{
    height: 83.7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    size:2000ch;
}