<div class="main-div">
    <mat-card class="box">
        <mat-card-title class="title">
            BEM VINDO!
        </mat-card-title>
        <br>
        <img class="link" class="concert" src="assets/imagens/logo.png">
        <br>
        <br>
        <mat-card-subtitle>
            FRAMEWORK
        </mat-card-subtitle>
        <br>
        <a class="link" href="https://github.com/RennanEckhardt">
            <img class="logo" src="assets/imagens/logo_github.png" alt="logo">
        </a>
        <p>@RennanEckhardt</p>
        <br>
        <br>
        <a class="link" href="www.linkedin.com/in/rennaneckhardt">
            <img class="logo" src="assets/imagens/logo_linkedin.png" alt="logo"> 
        </a>
        <p>@RennanEckhardt</p>
    </mat-card>
</div>